.main-1{
  max-width: 500px;
  margin: auto;
  height: 100vh;
  background: #EEEEEE;
  padding-bottom: 26px; 
  }
.main-1 .header{
  background: #337AB7;
  height: 73px;
}
.main-1 .header .fa-folder{
  color: #fff;
  padding-left: 12px;
}
.main-1 .header .fa-buysellads{
  color: #fff;
  padding-left: 12px;
}
.main-1 .header .p{
  color: #fff;
  float: right;
  padding-right: 12px;

}
.main-1 .header .p-2{
  color: #fff;
  float: right;
  margin-top: 36px;
  margin-right: -26px;
  font-size: 18px;
}
.main-1 .header .p-2 .fa-arrow-circle-o-right{
  margin-right: 20px;
}
.main-1 .header .p-3{
  color: #fff;
  margin-top: 14px;
  margin-left: 20px;
  font-size: 18px;
}
.main-1 .header .fa-search{
  padding-right: 20px;
}
.main-1 .header .fa-home{
  font-size: 22px;
}
.main-1 .header .p-3 i{
  font-size: 16px;
  padding-right: 26px;
}
.contact{
  height: 56px;
  padding-top: 21px;
  border-bottom: 2px solid gray;
}
.contact .input{
  display: flex;
}
.contact .input .fa-search{
  font-size: 18px;
}
.contact .input p{
  padding-left: 20px;
  color: gray;
}
.container-awais input{
  font-size: 20px;
}
.helmet{
  display: flex;
  margin-top: 12px;
  margin-bottom: 8px;
}
.helmet p{
  padding-left: 12px;
  font-weight: bold;
  color: #4182BB;
  font-size: 15px;
}
.container-aws .sub{
  background: #FE6378;
  color: #fff;
  width: 100%;
  height: 44px;
  font-weight: bold;
  border-radius: 0;
}
.container-aws .model-form{
  height: 414px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 3px 4px 3px -3px rgb(0 0 0 / 30%);
  margin-top: 20px;
}
.model-form{
  border-radius: 4px;
}
.model-form .container-aws hr{
  margin-bottom: 0;
}
.model-form .container-aws p{
  font-weight: bold;
  font-size: 15px;
  color: gray;
  padding-top: 15px;
  margin-bottom: -11px;
}
.model-form .hr-1{
  height: 1.7px;
  background: #A7A7A7;
}
.model-form .hr-2{
  height: 1.5px;
  background: #A7A7A7;
}
.model-form .hr-3{
  height: 1px;
  background: #A7A7A7;
}
.model-form .hr-4{
  height: 1px;
  background: black;
}
.model-form .hr-5{
  height: 1.9px;
  background: #EFEFEF;
}
.model-form .hr-6{
  height: 1px;
  background: black;
}
.model-form .hr-7{
  height: 1px;
  background: #A7A7A7;
}
.model-form .hr-8{
  height: 1px;
  background: #A7A7A7;
}



/*page-3*/


.page-1 .main-1 {
  max-width: 500px;
  margin: auto;
  height: auto;
  background: #EEEEEE;
  padding-bottom: 15px;
}
.page-1 .main-1 .header {
  background: #337AB7;
  height: 60px;
}
.page-1 .main-1 .header .fa-folder {
  color: #fff;
  padding-left: 12px;
}
.page-1 .main-1 .header .fa-buysellads {
  color: #fff;
  padding-left: 12px;
}
.page-1 .main-1 .header .p {
  color: #fff;
  float: right;
  padding-right: 12px;
}
.page-1 .main-1 .header .p-2 {
  color: #fff;
  float: right;
  margin-top: 30px;
  margin-right: -26px;
  font-size: 18px;
}
.page-1 .main-1 .header .p-3 {
  color: #fff;
  margin-top: 10px;
  margin-left: 26px;
  font-size: 18px;
}
.page-1 .main-1 .pack {
  display: flex;
  margin-top: 12px;
}
.page-1 .main-1 .pack .box-1 {
  height: 160px;
  width: 230px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 6px 6px 3px -3px rgba(0, 0, 0, 0.3);
}
.page-1 .main-1 .pack .box-2 {
  height: 160px;
  width: 230px;
  background: #FFFFFF;
  border-radius: 12px;
  margin-left: 12px;
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0, 0.3);
}
.page-1 .main-1 .pack .box-1 .play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23vh;
}
.page-1 .main-1 .pack .box-1 i {
  color: #337AB7;
  font-size: 50px;
}
.page-1 .main-1 .pack .box-1 p {
  font-size: 16px;
  padding-top: 6px;
  font-weight: bold;
}
.page-1 .main-1 .pack .box-2 .play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23vh;
}
.page-1 .main-1 .pack .box-2 i {
  color: #337AB7;
  font-size: 50px;
}
.page-1 .main-1 .pack .box-2 p {
  font-size: 16px;
  padding-top: 6px;
  font-weight: bold;
}
.page-1 .logout-div {
  width: auto;
  background: #FFFFFF;
  height: 150px;
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  margin-top: 12px;
}
.page-1 .logout-div i {
  color: #337AB7;
  font-size: 50px;
}
.page-1 .logout-div p {
  font-size: 16px;
  padding-top: 6px;
  font-weight: bold;
}
.page-1 .logout-div .main-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23vh;
}



/*page-3-end*/




/*page-4 start*/


.page-4 .main-1 {
  max-width: 500px;
  margin: auto;
  height: 100vh;
  background: #EEEEEE;
  padding-bottom: 26px;
}
.page-4 .main-1 .header {
  background: #337AB7;
  height: 73px;
}
.page-4 .main-1 .header .fa-folder {
  color: #fff;
  padding-left: 12px;
}
.page-4 .main-1 .header .fa-buysellads {
  color: #fff;
  padding-left: 12px;
}
.page-4 .main-1 .header .p {
  color: #fff;
  float: right;
  padding-right: 12px;
}
.page-4 .main-1 .header .p-2 {
  color: #fff;
  float: right;
  margin-top: 36px;
  margin-right: -26px;
  font-size: 18px;
}
.page-4 .main-1 .header .p-2 .fa-arrow-circle-o-right {
  margin-right: 20px;
}
.page-4 .main-1 .header .p-3 {
  color: #fff;
  margin-top: 14px;
  margin-left: 20px;
  font-size: 18px;
}
.page-4 .main-1 .header .fa-search {
  padding-right: 20px;
}
.page-4 .main-1 .header .fa-home {
  font-size: 22px;
}
.page-4 .main-1 .header .p-3 i {
  font-size: 16px;
  padding-right: 26px;
}
.page-4 .main {
  float: right;
  margin-right: 20px;
}
.page-4 .sky i {
  font-size: 20px;
}
.page-4 .fa-comment {
  color: #337AB7;
  font-size: 50px;
  position: relative;
}
.page-4 .p-1 {
  position: absolute;
  margin-top: -36px;
  margin-left: 6px;
  color: #fff;
}
.page-4 .sky {
  margin-top: 60px;
  margin-left: 12px;
}
.page-4 .sky span i {
  padding-right: 6px;
}
.page-4 .sky span {
  font-weight: bold;
}
.page-4 .id {
  display: flex;
  width: 380px;
  margin-left: 12px;
  margin-top: 12px;
}
.page-4 .id .fa-phone {
  font-size: 20px;
  padding-right: 12px;
  color: #337AB7;
}
.page-4 .id u p {
  margin-right: auto;
  color: #337AB7;
}
.page-4 .id .res {
  float: right;
  margin-left: auto;
  font-weight: bold;
}
.page-4 .fit {
  height: 200px;
  width: 93%;
  margin-top: 12px;
  background: #FFFFFF;
  margin-left: 18px;
  box-shadow: 6px 6px 3px -3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.page-4 .button {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 130px;
  float: right;
  margin-right: 12px;
}
.page-4 .button .btn-1 {
  background: #F05050;
  color: #fff;
  font-weight: bold;
  margin-top: 12px;
  margin-top: 30px;
  border-radius: 0;
}
.page-4 .button .btn-2 {
  background: #FFBD4A;
  color: #fff;
  margin-top: 8px;
  border-radius: 0;
}
.page-4 .button .btn-3 {
  background: #F05050;
  color: #fff;
  margin-top: 8px;
  border-radius: 0;
}
.page-4 .fit .graph {
  font-size: 18px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 12px;
}
.page-4 .fit .graph-2 {
  color: gray;
  padding-top: 10px;
  padding-left: 12px;
}
.page-4 .fit .graph-3 {
  color: gray;
  padding-top: 50px;
  padding-left: 12px;
}
.page-4 .conf {
  background: #D95350;
  color: #fff;
  border: none;
  height: 50px;
  width: 93%;
  margin-left: 19px;
  margin-top: 20px;
  font-weight: bold;
}


/*page-4 end*/

.second-div{
    width: 100%;
    height: auto;
    box-shadow: 1px 4px 6px -3px rgb(0 0 0 / 30%);
    background: #FFFFFF;
    border-radius: 0;
    padding-top: 12px;
}
.date p{
 padding: 12px 10px;
 background: #FE6378;
 margin: 12px 12px;
 border-radius: 6px;
 color: #fff;
 text-align: center;
 font-size: 17px;
}
.second-div .radio-button{
  margin: 0 15px;
  margin-top: 16px;
}
.second-div .radio-button p {
  font-weight: bold;
  color: #60B1FE;
}
.second-div .radio-button p span{
  /*color: #337AB7;*/
  font-weight: bold;
  padding-right: 8px;
}
.second-div .radio-button .f-span{
  color: gray;
}
.second-div .radio-button p .span-a{
  color: gray;
  padding-left: 12px;
}
.second-div .radio-button .right-one{
  float: right;
}
.second-div .radio-button .right-one-2{
  color: #60B1FE;
  float: right;
  font-weight: bold;
}
.second-div .radio-button .right-one span{
  font-weight: bold;
}
.second-div .radio-button .right-one .r-o-s{
  padding-right: 12px;
}
.second-div .radio-button .right-one input{
  margin-right: 5px;
  font-weight: bold;
}
.second-div .date .fa-calendar{
  font-size: 20px;
  padding-right: 10px;
}
.parahraph{
  display: flex;
}
.parahraph p{
  margin-right: auto;
  color: #337AB7;
}
.parahraph .caret{
  margin-right: 20px;
  margin-top: 9px;
}
.not-packed{
  background: #FFFFFF;
    margin-top: 12px;
    margin-left: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left: 10px solid #60B1FE;
    height: 146px;
    padding-left: 14px;
    padding-top: 16px;
}
.not-packed .span-1{
  color: #367CB8;
  font-size: 18px;
  font-weight: bold;
}
.not-packed .p-one{
  font-size: 20px;
  font-weight: bold;
  color: gray;
  margin-bottom: 0px;
}
.not-packed .p-one .span-2{
  font-size: 11px;
}
.not-packed .fa-users{
  color: gray;
}
.not-packed .fa-users span{
  color: #367CB8;
  font-weight: bold;
  font-size: 14px;
}
 .not-packed .button-right .btn{
  background: #F05050;
  color: #fff;
  font-weight: bold;
  float: right;
  margin-right: 30px;
  margin-top: -14px;
  padding: 9px;
 }
 .not-packed .button-right .P-TWO{
  color: gray;
  margin-top: 12px;
 }
 .not-packed .button-right .P-TWO span{
  color: #367CB8;
  font-size: 18px;
  font-weight: bold;
 }
.not-packed .wel{
  color: gray;
  float: right;
  font-weight: 100;
  font-size: 15px;
  margin-right: 30px;
}

.container-aws .partial{
  height: 130px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 3px 6px 3px -3px rgb(0 0 0 / 30%);
  border-radius: 6px;
  margin-top: 12px;
}
.container-aws .partial .row{
  padding-top: 12px;
}
.container-aws .partial .row .col-md-5 h4{
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 14px;
}
.container-aws .partial .row .col-md-5 p{
  font-weight: bold;
  margin-left: 14px;
}
.container-aws .partial .row .col-md-5 button{
  border: none;
  background: #A568AF;
  color: #fff;
  padding: 8px 10px;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 14px;
}
.container-aws .partial .row .col-md-5 .btn-7{
  background: #F05050;
}
.container-aws .col-md-7 h4{
  font-weight: bold;
  padding-left: 14px;
}
.container-aws .col-md-7 p{
  font-weight: bold;
}
.container-aws .col-md-7 .for{
  border: 0.6px solid gray;
  width: 46px;
  text-align: center;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 73px;
  box-shadow: -6px 6px 1px -5px rgb(0 0 0 / 80%) inset;
}
.container-aws .col-md-7 .for-2{
  border: 0.6px solid gray;
  width: 46px;
  text-align: center;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 73px;
  box-shadow: 6px -6px 1px -5px rgb(0 0 0 / 80%) inset;
  margin-left: 18px;
  margin-top: 40px;
}







.container-aws{
  width: 97%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}










.main-1{
  max-width: 500px;
  margin: auto;
  height: auto;
  background: #EEEEEE;
  padding-bottom: 26px; 
  }
.main-1 .header{
  background: #337AB7;
  height: 73px;
}
.main-1 .header .fa-folder{
  color: #fff;
  padding-left: 12px;
}
.main-1 .header .fa-buysellads{
  color: #fff;
  padding-left: 12px;
}
.main-1 .header .p{
  color: #fff;
  float: right;
  padding-right: 12px;

}
.main-1 .header .p-2{
  color: #fff;
  float: right;
  margin-top: 36px;
  margin-right: -26px;
  font-size: 18px;
}
.main-1 .header .p-3{
  color: #fff;
  margin-top: 14px;
  margin-left: 20px;
  font-size: 18px;
}
.main-1 .header .fa-search{
  padding-right: 20px;
}
.main-1 .header .fa-home{
  font-size: 22px;
}
.main-1 .header .p-3 i{
  font-size: 16px;
    padding-right: 26px;
}
.first-div{
    width: 100%;
    height: auto;
    box-shadow: 1px 6px 3px -3px rgb(0 0 0 / 30%);
    background: #FFFFFF;
    border-radius: 0;
    padding-top: 12px;
}
.date p{
 padding: 12px 10px;
 background: #FE6378;
 margin: 12px 12px;
 border-radius: 6px;
 color: #fff;
 text-align: center;
 font-size: 17px;
}
.first-div .radio-button{
  margin: 0 9px;
  margin-top: 16px;
}
.first-div .radio-button p {
  font-weight: bold;
  color: #60B1FE;
}
.first-div .radio-button p span{
  color: #337AB7;
  font-weight: bold;
  padding-right: 8px;

}
.first-div .radio-button .right-one{
 float: right;
}
.first-div .radio-button .right-one span{
  font-weight: bold;
}
.first-div .radio-button .right-one input{
  margin-right: 5px;
  font-weight: bold;
}
.first-div .date .fa-calendar{
  font-size: 20px;
  padding-right: 10px;
}
.parahraph{
  display: flex;
}
.parahraph p{
  margin-right: auto;
  color: #337AB7;
}
.parahraph .caret{
  margin-right: 20px;
  margin-top: 9px;
}
.not-packed{
  background: #FFFFFF;
    margin-top: 12px;
    margin-left: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left: 10px solid #60B1FE;
    height: 146px;
    padding-left: 14px;
    padding-top: 16px;
}
.not-packed .span-1{
  color: #367CB8;
  font-size: 18px;
  font-weight: bold;
}
.not-packed .p-one{
  font-size: 20px;
  font-weight: bold;
  color: gray;
  margin-bottom: 0px;
}
.not-packed .p-one .span-2{
  font-size: 11px;
}
.not-packed .fa-users{
  color: gray;
}
.not-packed .fa-users span{
  color: #367CB8;
  font-weight: bold;
  font-size: 14px;
}
 .not-packed .button-right .btn{
  background: #F05050;
  color: #fff;
  font-weight: bold;
  float: right;
  margin-right: 30px;
  margin-top: -14px;
  padding: 9px;
 }
 .not-packed .button-right .P-TWO{
  color: gray;
  margin-top: 12px;
 }
 .not-packed .button-right .P-TWO span{
  color: #367CB8;
  font-size: 18px;
  font-weight: bold;
 }
.not-packed .wel{
  color: gray;
  float: right;
  font-weight: 100;
  font-size: 15px;
  margin-right: 30px;
}


/*page 6 start*/

.equipiment .main-1 {
  max-width: 500px;
  margin: auto;
  height: 100vh;
  background: #EEEEEE;
  padding-bottom: 26px;
}
.equipiment .main-1 .header {
  background: #337AB7;
  height: 71px;
}
.equipiment .main-1 .header .fa-folder {
  color: #fff;
  padding-left: 12px;
}
.equipiment .main-1 .header .fa-buysellads {
  color: #fff;
  padding-left: 12px;
}
.equipiment .main-1 .header .p {
  color: #fff;
  float: right;
  padding-right: 12px;
}
.equipiment .main-1 .header .p-2 {
  color: #fff;
  margin-top: 36px;
  font-size: 13px;

}
.equipiment .main-1 .header .p-3 {
  color: #fff;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 18px;
}
.equipiment .main-1 .header .fa-home {
  font-size: 22px;
  padding-left: 30px;
}
.equipiment .main-1 .header .p-3 i {
  font-size: 16px;
  padding-right: 26px;
}
.equipiment .main-1 #id{
  color: gainsboro;
  margin-top: -12px;
  padding-left: 65px;
  font-size: 13px;
}
.equipiment .main-1 .container-aws .p-one{
  color: #337AB7;
  font-weight: bold;
  padding-top: 8px;
}
.equipiment .main-1 .container-aws .horiz{
  height: 5px;
  background:  #337AB7;
  margin-top: -3px;
}
.equipiment .main-1 .container-aws .row .col-md-5{
  margin-left: -12px;
}
.equipiment .main-1 .container-aws .row {
  margin-right: 0; 
  margin-left: 0;
  padding-bottom: 7px;
}
.equipiment .main-1 .container-aws .row .col-md-5 p{
  color: #337AB7;
  font-weight: bold;
  padding-top: 5px;
}
.equipiment .main-1 .container-aws .row .col-md-5 #pack{
  margin-top: -10px;
}
.equipiment .main-1 .container-aws .row .col-md-7{
  margin-top: -7px;
  margin-left: 12px;
  padding-right: 0;
}
.equipiment .main-1 .container-aws .row .col-md-7 .jrski{
  background: #FFFFFF;
  width: 93%;
  border-radius: 5px;
  height: auto;
  padding: 4px 0;
  text-align: center;
  box-shadow: 3px 0px 3px -2px rgb(0 0 0 / 30%);
  color: gray;
  font-weight: bold;
}
.equipiment .main-1 .container-aws .row .col-md-7 .box{
  border: 2px solid #337AB7;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.equipiment .main-1 .container-aws .row .col-md-7 .play{
  display: flex;
  margin-top: -12px;
}
.equipiment .main-1 .container-aws .row .col-md-7 .play .helmet{
  background: #FFFFFF;
  width: 70%;
  height: auto;
  padding: 4px 0;
  border-radius: 5px;
  box-shadow: 3px 0px 3px -2px rgb(0 0 0 / 30%);
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: gray;
}
.equipiment .main-1 .container-aws .row .col-md-7 .play .p{
  padding-top: 3px;
  height: 30px;
  width: 30px;
  background: #2DD57B;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  color: gray;
  margin-top: 10px;
  margin-left: 12px;
}
.equipiment .main-1 .container-aws .row .col-md-7 .play .green{
   padding-top: 3px;
  height: 30px;
  width: 30px;
  background: #2DD57B;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  color: gray;
  margin-top: 10px;
  margin-left: 8px;
}
.equipiment .main-1 .container-aws .row{
  border-bottom: 5px solid #337AB7;
}
.equipiment .main-1 .container-aws .row .col-md-7 .empty{
  background: #FFFFFF;
  height: 30px;
  width: 93%;
  box-shadow: 3px 0px 3px -2px rgb(0 0 0 / 30%);
  border-radius: 5px;
}
.equipiment .main-1 .hr-two{
  height: 5px;
  background:  #337AB7;
  margin-top: -3px;
}
.contant .row-2{
  margin-left: -18px;
}
.contant .row-2 .col-md-3 p{
  color: gray;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  padding-left: 10px;
}
.contant .row-2 .col-md-3 .put{
  height: 36px;
  width: 110px;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px -1px 3px -2px rgb(0 0 0 / 30%);
}
.contant-2 .row-3 .col-md-4 p{
  color: gray;
  font-weight: bold;
  color: gray;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 9px;
}
.contant-2 {
  height: 173px;
  border-bottom: 5px solid #337AB7;

}
.contant-2 .row-3 .col-md-4 .put-2{
  height: 36px;
  width: 122px;
  background: #FFFFFF;
  border-radius: 6px;
}
.c-2-hr{
  height: 5px;
  background: #337AB7;
}

.buy .row,.col-md-6{
  margin: 0;
  padding: 0;
}
.buy .row .col-md-6 p{
  color: #337AB7;
  font-weight: bold;
  display: flex;
}
.buy .row .col-md-6 .flow .fifty{
  float: right;
   display: flex;
   padding: 4px 30px;
    background: #337AB7;
    color: #fff;
    border-radius: 10px;
}
.buy .row .col-md-6 .select{
  height: auto;
  width: 74%;
  background: #FFFFFF;
  padding: 10px 0;
  padding-left: 20px;
  margin-left: 16px;
}
.buy .row .col-md-6 .select span{
  margin-left: 20px;
}
.buy .row .col-md-6 .r-p{
  height: 30px;
  width: 30px;
  background: #3F3F3F;
  border-radius: 15px;
  margin-top: 2px;
  margin-left: 12px;
}
.buy .row .col-md-6 .r-p p{
  text-align: center;
    color: #fff;
    font-size: 18px;
    padding-left: 9px;
    padding-top: 4px;
}
.buy .row .col-md-6 .flow-2{
  display: flex;
}
.buy .row{
  margin-top: 12px;
  border-bottom: 5px solid #337AB7;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.buy .row .six{
  margin-top: 6px;
  padding-right: 6px;
}
.bot .container-aws .folk{
  color: #337AB7;
  font-weight: bold;
  padding-top: 10px;
}
.bot .container-aws .row{
  width: 100%;
  border-bottom: 5px solid #337AB7;
}
.bot .container-aws .row .col-md-4{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bot .container-aws .row .col-md-4 .red-div{
  margin-top: 10px;
  height: 90px;
  width: 90px;
  background: #FFFFFF;
  color: #DA5754;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  border-radius: 50px;
}
.bot .container-aws .row .col-md-4  .red-1{
  margin-top: 28px;
}
.bot .container-aws .row .col-md-4 .red-plus{
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 12px;
  text-align: center;
  padding-top: 4px;
  margin-top: 40px;
}
.bot .container-aws .row .col-md-4 .red-plus i{
  color: #DA5754;
}
.last-div {
  display: flex;
}
.last-div .div-1{
 width: 32%;
 background: #FF4444;
 height: 32px;
 margin-top: 8px;
 border-radius: 9px;
 color: #fff;
 text-align: center;
 padding-top: 6px;
}
.last-div .div-2{
 width: 32%;
 background: #337AB7;
 height: 32px;
 margin-top: 8px;
 border-radius: 9px;
 color: #fff;
 text-align: center;
 padding-top: 6px;
 margin-left: 10px;
}
.last-div .div-3{
  width: 32%;
 background: #337AB7;
 height: 32px;
 margin-top: 8px;
 border-radius: 9px;
 color: #fff;
 text-align: center;
 padding-top: 6px;
 margin-left: 10px;
}



/*page 6 end